@charset "utf-8";

/* "Judson", serif; */
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-size: 14px;
}

html ::selection {
  background-color: #fff;
  color: #0066c5;
}
body {
  font-family: "Judson",바탕,명조, serif;
  font-weight: 400;
  font-size: 1.9rem;
  text-transform: capitalize;
  background: url(./images/9492c275969cdeb3ea615bf437997829.jpg) fixed no-repeat 50% / cover;
  color: #fff;
}

.menu-wrapper .global-menu {
  display: none;
}
.menu-wrapper .global-menu.active {
display: grid;
}
.menu-wrapper a {
  display: block;
  border-bottom: 1px solid #fff;
  padding: 10px;
}
.menu-wrapper .global-menu li {
  background-color: rgba(32, 62, 96, 0.5);
}
.menu-wrapper .mobile-btn {
  background: rgba(32, 62, 96, 0.9) url(./images/ellipsis.svg) no-repeat 95% 50% / 10px;
}
.menu-wrapper .global-menu {}